{
    "extends": ["airbnb", "plugin:vue/recommended"],
    "plugins": ["vue"],
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "node": true
    },
    "globals": {
        "jest": true,
        "describe": true,
        "it": true,
        "expect": true,
        "test": true,
        "jQuery": true,
        "beforeEach": true
    },
    "parser": "vue-eslint-parser",
    "parserOptions": {
        "parser": "@babel/eslint-parser",
        "ecmaFeatures": {
            "jsx": true
        },
        "sourceType": "module"
    },
    "rules": {
        "no-param-reassign": "off",
        "no-console": ["warn", { "allow": ["warn", "error"] }]
    }
}
